.dashboard {
  display: flex;
  height: 100vh;
  .dashboard__left {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15vw;
    border-right: 1px solid #f0f0f0;
    padding: 0px 0px 0px 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 101.1%;
    letter-spacing: 0.05em;
    color: #9a9a9a;
    .dashboard__left--top {
      padding: 10% 0px;
      color: #000;
    }
    .dashboard__left--middle {
      padding: 10% 0px;
      flex-grow: 1;
    }
    .dashboard__left--bottom {
      padding: 10% 0px;
    }
    .dashboard__left--middle--option,
    .dashboard__left--bottom--option {
      display: flex;
      align-items: center;
      height: 25px;
      margin: 25px 0px;
      img {
        margin: 0px 20px;
      }
    }
    .active {
      border-right: 4px solid #329c89;
      color: #000;
    }
  }
  .dashboard__right {
    width: 100%;
    overflow: auto;
  }
}

.logoutModal {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .logoutModal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    background: #ffffff;
    box-shadow: 0px 0px 28px rgba(72, 174, 174, 0.07);
    border-radius: 22px;
    padding: 30px;
    .logoutModal__content--header {
      span {
        font-size: 18px;
        line-height: 101.1%;
        letter-spacing: 0.05em;
        color: #212121;
        display: flex;
        justify-content: space-between;
      }
      hr {
        margin: 10px 0px;
        border: 1.5px solid #329c89;
      }
    }
    .logoutModal__content--body {
      margin-top: 40px;
      overflow-y: scroll;
      height: 80%;
      display: flex;
      width: 100%;
      justify-content: space-around;
      button {
        width: 20%;
        height: 50px;
        border-radius: 25px;
        border: none;
        background: #329c89;
        color: #ffffff;
        font-size: 18px;
        line-height: 101.1%;
        letter-spacing: 0.05em;
        cursor: pointer;
      }
    }
  }
}

@media #{$media-tablet} {
  .dashboard__left--middle--option--text {
    display: none;
  }
}

@media #{$media-mobile} {
  .dashboard__left--top {
    display: none;
  }
  .dashboard__right {
    width: 80% !important;
    .project {
      .project__top {
        flex-wrap: wrap-reverse;
        justify-content: center;
      }
      .project__middle {
        justify-content: center;
      }
      .project__bottom {
        overflow: scroll;
      }
    }
  }
}
