* {
  margin: 0px;
  padding: 0px;
  font-family: "Popins", sans-serif;
}
button {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";

@import "./home";
@import "./dashboard";
@import "./project";
